/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #3D3D3D;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
}

.removed {
  display: none;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.classifyOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.classifyOnClick p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #FF6F00;
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1000;
  position: absolute;
}